# Final Assignment - Visual Analytics

by Charlotte, Lena, Lina & Annina

### Data Cleaning - Sexualization Table

In [1]:
import pandas as pd

#### Import and basic information

In [2]:
sex = pd.read_csv('sexualization.grivg.csv')
print(sex.head())
print(sex.info())
print(sex.describe())

                Id  Sexualized_clothing  Trophy  Damsel in Distress  \
0      CODMW_Farah                    0       0                   0
1  PSS_Protagonist                    0       0                   0
2     PSS_Magnolia                    0       0                   0
3        PSS_Sonia                    0       0                   0
4       PSS_Marnie                    0       0                   0

   Sexualized Cutscenes  Total
0                     0      0
1                     0      0
2                     0      0
3                     0      0
4                     0      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    637 non-null    object
 1   Sexualized_clothing   637 non-null    int64
 2   Trophy                637 non-null    int64
 3   Damsel in Distress    637 non-null    int64
 4   Sexualized Cutscenes  637 non-null    int64
 5   Total                 637 non-null    int64
dtypes: int64(5), object(1)
memory usage: 30.0+ KB
None
       Sexualized_clothing      Trophy  Damsel in Distress  \
count           637.000000  637.000000          637.000000
mean              0.029827    0.010989            0.028257
std               0.170244    0.104333            0.165838
min               0.000000    0.000000            0.000000
25%               0.000000    0.000000            0.000000
50%               0.000000    0.000000            0.000000
75%               0.000000    0.000000            0.000000
max               1.000000    1.000000            1.000000

       Sexualized Cutscenes       Total
count            637.000000  637.000000
mean               0.017268    0.086342
std                0.130372    0.389022
min                0.000000    0.000000
25%                0.000000    0.000000
50%                0.000000    0.000000
75%                0.000000    0.000000
max                1.000000    3.000000

#### Check for duplicates

In [3]:
duplicates_char = sex.duplicated()
duplicates_char.value_counts()
duplicates_char.sum()

0

In [4]:
sex.nunique()

Id                      637
Sexualized_clothing       2
Trophy                    2
Damsel in Distress        2
Sexualized Cutscenes      2
Total                     4
dtype: int64

#### Check for null values

In [5]:
sex.isnull().sum()

Id                      0
Sexualized_clothing     0
Trophy                  0
Damsel in Distress      0
Sexualized Cutscenes    0
Total                   0
dtype: int64

#### Trim leading and trailing space of all string columns

In [6]:
sex['Id'] = sex['Id'].str.strip()

#### Last check and Export of the tableÂ¶

In [7]:
# check the types
sex.dtypes

Id                      object
Sexualized_clothing      int64
Trophy                   int64
Damsel in Distress       int64
Sexualized Cutscenes     int64
Total                    int64
dtype: object

In [8]:
sex.head(10)

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0
5,PSS_Oleana,0,0,0,0,0
6,SMO_Peach,0,1,1,0,2
7,BOTW_Zelda,0,0,0,0,0
8,PSM_Protagonist,0,0,0,0,0
9,TW3_Ciri,1,0,1,0,2

In [9]:
sex.to_csv('sex_clean.csv')