# Final Assignement - Visual Analytics

by Charlotte, Lena, Lina & Annina

### Data Cleaning - Characters Table

In [1]:
# import packages / libraries
import pandas as pd

#### Import and basic information

In [2]:
characters = pd.read_csv("characters.grivg.csv")
print(characters.head())
print(characters.info())
print(characters.describe())

          Name  Gender   Game       Age Age_range  Playable  Sexualization  \
0        Farah  Female  CODMW        27     Adult         1              0
1  Protagonist  Custom    PSS  Teenager  Teenager         1              0
2     Magnolia  Female    PSS   Elderly   Elderly         0              0
3        Sonia  Female    PSS        26     Adult         0              0
4       Marnie  Female    PSS  Teenager  Teenager         0              0

                Id Species Side Relevance Romantic_Interest
0      CODMW_Farah   Human    P        PA                No
1  PSS_Protagonist   Human    P        PA                No
2     PSS_Magnolia   Human    P        SC                No
3        PSS_Sonia   Human    P        SC                No
4       PSS_Marnie   Human    B        MC                No
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               637 non-null    object
 1   Gender             637 non-null    object
 2   Game               637 non-null    object
 3   Age                637 non-null    object
 4   Age_range          637 non-null    object
 5   Playable           637 non-null    int64
 6   Sexualization      637 non-null    int64
 7   Id                 637 non-null    object
 8   Species            637 non-null    object
 9   Side               637 non-null    object
 10  Relevance          637 non-null    object
 11  Romantic_Interest  637 non-null    object
dtypes: int64(2), object(10)
memory usage: 59.8+ KB
None
         Playable  Sexualization
count  637.000000     637.000000
mean     0.193093       0.086342
std      0.395035       0.389022
min      0.000000       0.000000
25%      0.000000       0.000000
50%      0.000000       0.000000
75%      0.000000       0.000000
max      1.000000       3.000000

#### Check for duplicates

In [3]:
duplicates_char = characters.duplicated()
duplicates_char.value_counts()
duplicates_char.sum() # no duplicates found

0

In [4]:
print(characters.nunique())

Name                 616
Gender                 4
Game                  64
Age                   59
Age_range              8
Playable               2
Sexualization          4
Id                   637
Species               10
Side                   3
Relevance              6
Romantic_Interest      3
dtype: int64

#### Check for null values

In [5]:
characters.isnull().sum()

Name                 0
Gender               0
Game                 0
Age                  0
Age_range            0
Playable             0
Sexualization        0
Id                   0
Species              0
Side                 0
Relevance            0
Romantic_Interest    0
dtype: int64

#### Trim leading and trailing space of all string columns

In [6]:
characters['Name'] = characters['Name'].str.strip()
characters['Gender'] = characters['Gender'].str.strip()
characters['Game'] = characters['Game'].str.strip()
characters['Age'] = characters['Age'].str.strip()
characters['Age_range'] = characters['Age_range'].str.strip()
characters['Id'] = characters['Id'].str.strip()
characters['Species'] = characters['Species'].str.strip()
characters['Side'] = characters['Side'].str.strip()
characters['Relevance'] = characters['Relevance'].str.strip()
characters['Romantic_Interest'] = characters['Romantic_Interest'].str.strip()

#### Last check and Export of the tableÂ¶

In [7]:
characters.dtypes

Name                 object
Gender               object
Game                 object
Age                  object
Age_range            object
Playable              int64
Sexualization         int64
Id                   object
Species              object
Side                 object
Relevance            object
Romantic_Interest    object
dtype: object

In [8]:
characters.head(10)

,Name,Gender,Game,Age,Age_range,Playable,Sexualization,Id,Species,Side,Relevance,Romantic_Interest
0,Farah,Female,CODMW,27,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,26,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,Teenager,0,0,PSS_Marnie,Human,B,MC,No
5,Oleana,Female,PSS,Adult,Adult,0,0,PSS_Oleana,Human,A,SC,No
6,Peach,Female,SMO,Adult,Adult,0,2,SMO_Peach,Human,P,MC,Yes
7,Zelda,Female,BOTW,17,Teenager,0,0,BOTW_Zelda,Human,P,DA,No
8,Protagonist,Custom,PSM,11,Child,1,0,PSM_Protagonist,Human,P,PA,No
9,Ciri,Female,TW3,21,Young adult,0,2,TW3_Ciri,Human,P,DA,No

In [9]:
characters.to_csv('characters_clean.csv')